*{  
    /*animation: 2.5s infinite colorShift;*/
    /*border: solid green 1px;*/
}

head{
    padding-bottom: 1em;
}

body{
    background-color: rgb(46, 46, 46);
}

h1{
    color: white;
}

p{
    font-size: 2em;
    color: white;
}

button{
    background-color: lightgreen;
    font-size: 3em;
    width: 10em;
    height: 2em;
}

button:hover{
    background-color: lightpink;
}

#petWindow{
    border: 2px solid fuchsia;
}


#eyes{
    animation: blink 4.0s infinite;
}

@keyframes borderColor{
    from {
        color: white;
    }

    50%{
        color: black;
    }

    to{
        color:white;
    }
}

@keyframes colorShift{
    from {
        color: hotpink;
    }

    50% {
        color: purple;
    }

    to {
        color: hotpink;
    }
}

@keyframes blink {
    from{
        transform: scaleY(1);
    }
    10%{
        transform: scaleY(0);
    }
    20%{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(1);
    }
}
