*{  
    /*animation: 2.5s infinite colorShift;*/
    /*border: solid green 1px;*/
    padding: 0; 
}

head{
    padding-bottom: 0em;
}

body{
    background-color: #3D3D3D;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0em;
    grid-auto-rows: minmax(25, auto);
}

h1{
    color: white;
}

p{
    font-size: 1em;
    color: white;
}

button{
    background-color: #DEFF00;
    font-size: 1em;
    width: 10em;
    height: 3em;
    border-radius: 2em;
}

button:hover{
    background-color: #9AFF00;
}

#petWindow{
    outline-style: dashed;
    outline-width: 0.1em;
    outline-color: grey;
    grid-column: 2;
    grid-row: 1;
    padding: 0em;
}

#canvasWindow{
    outline-style: dashed;
    outline-width: 0.1em;
    outline-color: grey;
    grid-column: 2;
    grid-row: 1;
    padding: 0em;
    width: 100%;
    height: 100%;
}

#petStats{
    padding-left: 2em;
    grid-column: 1;
    grid-row: 1;
}

#eyes{
    animation: blink 4.0s infinite;
}

#saveColor{
    font-size: 1em;
    height: 2em;
    width: 10em;
}

#revertColor{
    font-size: 1em;
    height: 2em;
    width: 10em;
}

#settingsPanel{
    grid-column: 2;
    grid-row: 1;
    
}

meter{
    font-size: 2em;
}

.hide{
    display: none;
}

@keyframes borderColor{
    from {
        color: white;
    }

    50%{
        color: black;
    }

    to{
        color:white;
    }
}

@keyframes colorShift{
    from {
        color: hotpink;
    }

    50% {
        color: purple;
    }

    to {
        color: hotpink;
    }
}

