*{  
    /*animation: 2.5s infinite colorShift;*/
    /*border: solid green 1px;*/
}

head{
    padding-bottom: 1em;
}

body{
    background-color: rgb(46, 46, 46);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(50, auto);
}

h1{
    color: white;
}

p{
    font-size: 2em;
    color: white;
}

button{
    background-color: lightgreen;
    font-size: 3em;
    width: 10em;
    height: 2em;
}

button:hover{
    background-color: lightpink;
}

#petWindow{
    grid-column: 1;
    grid-row: 1;
    padding: 1em;
}

#petStats{
    grid-column: 1;
    grid-row: 2;
}

#eyes{
    animation: blink 4.0s infinite;
}

#rgbSliders{
    list-style: none;
    color: white;
    grid-column: 2;
    grid-row: 1;
}

#smile{
    
}

#saveColor{
    font-size: 1em;
    height: 2em;
    width: 10em;
}

#revertColor{
    font-size: 1em;
    height: 2em;
    width: 10em;
}

@keyframes borderColor{
    from {
        color: white;
    }

    50%{
        color: black;
    }

    to{
        color:white;
    }
}

@keyframes colorShift{
    from {
        color: hotpink;
    }

    50% {
        color: purple;
    }

    to {
        color: hotpink;
    }
}

@keyframes blink {
    from{
        transform: scaleY(1);
    }
    10%{
        transform: scaleY(0);
    }
    20%{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(1);
    }
}
